<%- include('partials/header') %>

<div class="about">
  <div class="about-details">
    <img class="about-img" src="images/sekar.png" alt="">
    <p>This is Sekar Premkumar.I am pursuing mechanical engineering in Sri Krishna College of Engineering and Technology.
    I live in Udumalpet,Tiruppur.To contact me, i have given my various social media platform profile link.</p>
  </div>

</div>



















<%- include('partials/footer') %>
