<%- include('partials/header') %>
<div class="total-education">
  <div class="education">
    <h2>College Education</h2>
    <br>
    <div class="card edu-card h-100 w-100">
      <img class="edu-card-img" src="images/SKCET.jpg" alt="Card image cap">
      <div class="card-body-edu ">
        <ul>
          <li>Pursuing B.E Mechanical engineering</li>
          <li>Participated in many competitons</li>
          <li>Department student's association member</li>
          <li>Organized events, seminars and part of master of ceremony</li>
        </ul>
      </div>
    </div>
    <br>
    <br>
  </div>
  <h2 class="course-heading">Courses and Certifications</h2>
  <div class="container4">
    <div class="card-deck last-deck">
      <div class="row">
        <!-- card-1 -->
        <div class="col-lg-4 col-md-6 col-sm-12 card-space d-flex align-items-stretch">
          <div class="card card-1 shadow-lg h-77 w-80 bg-white border-0">
            <div class="card-body">
              <h2 class="card-heading">Crash course on Python</h2>
              <h4 class="card-heading">Coursera-Google</h4>
              <p>Learned python from scratch to intermediate level</p>
            </div>
          </div>
        </div>
        <!-- card-2 -->
        <div class="col-lg-4 col-md-6 col-sm-12 card-space d-flex align-items-stretch">
          <div class="card card-2 shadow-lg h-100 w-100 w-100 bg-white border-0">
            <div class="card-body">
              <h2 class="card-heading">How computer works</h2>
              <h4 class="card-heading">Coursera-University of London</h4>
              <p>Learned how basic computer functionalities work</p>
            </div>
          </div>
        </div>

        <!-- card-3 -->
        <div class="col-lg-4 col-md-6 col-sm-12 card-space d-flex align-items-stretch">
          <div class="card card-3 shadow-lg h-100 w-100 bg-white border-0">
            <div class="card-body">
              <h2 class="card-heading">Ethics in engineering</h2>
              <h4 class="card-heading">NPTEL</h4>
              <p>Learned about ethics to be followed as an engineer </p>
            </div>
          </div>
        </div>

        <!-- card-4 -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12 card-space d-flex align-items-stretch">
          <div class="card card-4 shadow-lg bg-white h-100 w-100 border-0">
            <div class="card-body">
              <h2 class="card-heading">SEO Specialization</h2>
              <h4 class="card-heading">UC Davis University of Caifornia</h4>
              <p>Learned outright knowledge about Search engine optimization</p>
            </div>
          </div>
        </div> -->

        <!-- card-5 -->
        <div class="col-lg-4 col-md-6 col-sm-12 card-space d-flex align-items-stretch">
          <div class="card card-5 shadow-lg bg-white h-100 w-100 border-0">
            <div class="card-body">
              <h2 class="card-heading">Python</h2>
              <h4 class="card-heading">GUVI</h4>
              <p>Learned Python programming language.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>



<%- include("partials/footer")  %>
