<%- include('partials/header') %>


<div class="page-details">
  <img class="myimage" src="images/Sekar1.png" alt="portfolio-img">
  <h1 id="h1">Hi ! I'm Sekar Premkumar</h1>
  <h2 id="h2">Full stack Web Developer</h2>
</div>

<a id="arrow-li" href="#top"><img class="arrow-img" src="images/arrow.png"></img></a>




<%- include('partials/footer') %>
