<%- include('partials/header') %>

<div id="container2">
  <h2 class="skih1">Technical Skills</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6 skidiv">
      <img class="skill skill-1" src="images/WebDev.png" alt="">
      <p>Web Development</p>
      <p>⭐⭐⭐</p>
      <p>MERN STACK
      </p>
      <p class="skill-subtext">[Html,Css,Bootstrap,Javascript,
        Jquery,DOM,Node.js,Express.js,API
        ,Ejs,MongoDB,Nosql,Sql,React.js]</p>
    </div>
    <!-- <div class="col-md-4 col-sm-6 skidiv">
      <img class="skill skill-2" src="images/seo.png" alt="">
      <p>Search Engine Optimaization</p>
    </div> -->
    <!-- <div class="col-md-4 col-sm-6 skidiv ">
      <img class="skill skill-3" src="images/Digital.png" alt="">
      <p>Digital Marketing</p>
    </div> -->
    <div class="col-md-4 col-sm-6 skidiv">
      <img class="skill skill-4" src="images/python.png" alt="">
      <p>Python programming</p>
      <p>⭐⭐⭐⭐</p>
    </div>
    <div class="col-md-4 col-sm-6 skidiv">
      <img class="skill skill-5" src="images/c.png" alt="">
      <p>C Programming</p>
      <p>⭐⭐⭐⭐</p>
    </div>

  </div>

</div>




<!-- container 4   My work section -->

<div id="container4">
  <!-- heading 1 -->
  <h1 class="workhead">Projects</h1>
  <!-- card-deck-1-Activities -->
  <div class="card-deck">
    <div class="row">
      <!-- card-1 -->
      <div class="col-lg-4 col-md-6 col-sm-12 card-space  d-flex align-items-stretch">
        <div class="card pro-card shadow-lg h-100 w-100 bg-white border-0">
          <div class="card-body">
            <h3 class="card-heading">Conversion of engine bike to electric bike </h3>
            <p>Our idea is to increase the number of emobility on road by converting old bikes to e-bike</p>

          </div>
        </div>
      </div>

      <!-- card-2 -->
      <div class="col-lg-4 col-md-6 col-sm-12 card-space  d-flex align-items-stretch">
        <div class="card pro-card shadow-lg h-100 w-100 bg-white border-0">
          <div class="card-body">
            <h3 class="card-heading">Personal Portfolio site </h3>
            <p>Created a portfolio site with html,css,bootstrap,javascript</p>
            <p>(P.S - Already you are inspecting it)</p>
          </div>

        </div>
      </div>
      <!-- end of card-2 -->

      <!-- card-3 -->
      <div class="col-lg-4 col-md-6 col-sm-12 card-space  d-flex align-items-stretch">
        <div class="card pro-card shadow-lg h-100 w-100 bg-white border-0">
          <div class="card-body">
            <h3 class="card-heading">Team coordination Web App</h3>
            <p>Created a one stop chatting and to-do list web app</p>
            <p>Done this for T1 Hackathon in our college</p>
          </div>

        </div>
      </div>
      <!-- end of card-3 -->
    </div>
  </div>
</div>






<%- include('partials/footer') %>
