.body{
  background-color:rgb(237, 249, 254);
  font-family: 'Contrail One', cursive;
}
                      /* container 1  */
.container1 {
  background-size:cover;
  text-align: center;
  margin-top: 0;

}
.myimage{
  width:50%;
  padding-bottom: 30px;
  float: left;
  animation: left 3s;
  position: relative;
}




.page-details{
    text-align: center;
    padding-bottom:10%;
    display: block;

}
.arrow-img{
  width:30%;
}

#arrow-li{
  position:fixed;
  bottom:5%;
  left:90%;
  z-index: 1000;
}

#h1{
  font-size: 3rem;
  font-weight: bolder;
  margin-top:0;
  position: static;
  padding-top: 5%;
  padding-bottom: 1.5%;
  animation: right 4s;
  position: relative;
}

#h2{
  font-size: 1.5rem;
  color:#FFC107;
  position: static;
  font-weight: bold;
  padding-bottom: 10%;
  margin-bottom:0;
  animation: right 4s;
  position: relative;
}


#brand{
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

a.nav-link{
  color:#FFC107;
  font-weight: bold;
}

      /*-------------------------------------------------------------------------------------------*/
                                           /* container2 */

#container2 {
  color:#FFC107;
  text-align: center;
  padding: 20px;
  position:relative;

}


.row{
  padding:40px;
}

.skill-subtext{
  color: black;
  font-size: 0.7rem
}
.skill{
   padding:20px;
   width:50%;

}

.skidiv{
  text-align: center;


}
.skih1{
    color: black;
}

  /*-------------------------------------------------------------------------------------------*/
                                    /* container3 */

#container3 {
  text-align: center;
}

.carousel-item{
   padding:15%;
}



.eduli{
  display: block;
  padding-bottom: 2%;
}
.rkr{
  background-image:url("../images/rkr1.png") ;
}

.edudetails{
  font-weight: bold;
  font-size:25px;
}

#carouselExampleIndicators{
  padding :10%;
}
  /*-------------------------------------------------------------------------------------------*/
                                /* container4 */


#container4 {
  text-align:center;
  }

.card-heading{
  padding-bottom: 5%;
}


.card-body:hover{
  transform: scale(1.15);
  background-image:linear-gradient(to left,white,#FFC107);
}

#container4 p{
  font-weight: bold;
}

.card-space{
  padding-bottom:5%;
}
.last-deck{
  padding-bottom:5%;
}
  /*-------------------------------------------------------------------------------------------*/
                            /*  container5  */


#container5 {
  background-color: black;
  text-align:center;
  padding:3%;
  color: white;
}
.contact-me{
  font-size: 1.5rem;
}
.label-mail{
  font-family: 'Padauk', sans-serif;
  font-size: 1rem;
  display: inline;
}
.mail{
  font-family: 'Padauk', sans-serif;
  font-size: 1rem;
}
.social-media{
  padding-top:2%;
}
.contact-li{
  padding-left:3%;


}
.contact-img{
  width:3%;
}
/* _------------------------------------------------------------------------------------------------- */

                                    /* EDUCATION */
.total-education{
  text-align: center;
}

.education{
  padding:5% 20% 5% 20%;

}
.edu-card{
  text-align: justify;
  animation: left 3s;
  position: relative;
}
.edu-card-img{
  width:17rem;
  padding-left:10%;
}
.course-heading{
  padding-left: 5%;
  padding-right: 5%;
}
  /*----------------------------------------------------------------------------------------------*/

.about{
  text-align: center;
  }                                    /* ABOUT */
.about p{
  padding: 2% 15% 2% 15%;
  animation: right 3s;
  position:relative;
}

.about-img{
  width:18%;
  padding-bottom:3%;
  animation: left 3s;
  position:relative;
}
                                       /* animation */
@keyframes left {
  from{left:-400px;}
  to{left:0px;}
}

@keyframes right {
  from{left:500px;}
  to{left:0px;}
}


/* -------------------------------------------------------------------------------------------------*/
                                     /* Media Query */
@media (max-width: 900px ){
  #h1{
    font-size:2rem
  }
  #h2{
    font-size: 1rem;
  }
  .myimage{
    width:80%;
    float: none;
  }
  .arrow-img{
    width:60%;
    filter: opacity(20%);
  }
  .about-img{
    width: 35%;
  }
  .education{
    padding:2% 3% 2% 3%;
  }
  #brand{
     font-size: 1rem;
  }
  .card-body-edu{
    padding-right: 3%;
  }

  .skill-1,.skill-3,.skill-5{
    animation: left 3s;
    position:relative;
  }
  .skill-2,.skill-4{
    animation: right 3s;
    position:relative;
  }
  .contact-img{
    width: 5%;
  }


}
